<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="single-footer footer-one">
                <h3>About Company</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum repellat, maxime vel alias impedit veritatis temporibus, sequi quos veniam eius optio corporis modi dicta molestias at inventore culpa, natus explicabo.</p>
                <div class="footer-social-media-area">
                    <nav>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 hidden-sm">
            <div class="single-footer footer-two">
                <h3>Twitter Feed</h3>
                <nav>
                    <ul>
                        <li><i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">https://twitter.com/?lang=en</a>
                            <br/> 3 days ago
                        </li>
                        <li><i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">https://twitter.com/?lang=en</a>
                            <br/> 3 days ago
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 hidden-md col-sm-12">
            <div class="single-footer footer-three">
                <div class="container">
                    <div class="intro">
                        <h3 class="text-center newsletter">Subscribe to our Newsletter</h3>
                        <p class="text-center">Lorem laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <form class="form-inline" method="post">
                        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                        <div class="form-group"><button class="btn btn-success" type="button">Subscribe </button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="single-footer footer-four margin-0">
                <h3>Corporate Office</h3>
                <nav>
                    <ul>
                        <li><i class="fa fa-paper-plane-o"></i> 44 New Design Street, rne 00 USA</li>
                        <li><i class="fa fa-phone"></i> <a href="tel:+985-2356-14566">+985-2356-14566</a></li>
                        <li><i class="fa fa-envelope-o"></i> <a href="mailto:yourmail@gmail.com">yourmail@gmail.com</a></li>
                        <li><i class="fa fa-fax"></i> Fax: (123) 4589761</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>