
        <!--Preview area start here-->
        
        <div class="template-preloader-rapper">
            <h1>
                <span class="let1">p</span>  
                <span class="let2">l</span>  
                <span class="let3">a</span>  
                <span class="let4">z</span>  
                <span class="let5">v</span>  
                <span class="let6">o</span>  
                <span class="let7">t</span>  
                <span class="let8">e</span>  
            </h1>

            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--End preview here -->