{% load i18n pages_tags %}

{% spaceless %}
{% if page_branch %}
{% for page in page_branch %}

	{% if not has_home and page.is_primary and forloop.first %}
	<ul>
		<li><a class="home" href="{% url "home" %}"
			   id="tree-menu-home">{% trans "Home" %}</a></li>
    {% endif %}

		{% if page.is_current_or_ascendant and not page.is_current_child %}
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
		{% endif %}

		{% if page.is_current_child %}
		<li class="
			{% if forloop.first %}active{% endif %}
			{% if forloop.last %}active{% endif %}"
			id="mobile-menu-{{ page.html_id }}">
			<a href="{{ page.get_absolute_url }}">{{ page.title }}
				{% if page.has_children_in_menu %}<i class="fa fa-angle-down"></i>{% endif %}</a>
		</li>
		{% endif %}

	{% if page.is_primary and forloop.last %}
	</ul>
	{% endif %}

{% endfor %}
{% endif %}
{% endspaceless %}
